@import url("color.css");

  .main-header {
    position: fixed;
    display: flex;
    align-items: center;
    padding-right: 5rem;
    padding-left: 3rem;
    width: 100%;
    height: 7rem;
  }
  .main-header .title
  {
    display: flex;
    height: auto;
    justify-content: top;
    flex-direction: column;
    position: absolute;
    padding-left: 5rem;
  }
  .main-header .subtitle
  {
    display: flex;
    flex-direction: column;
  }
  .main-header .menu
  {
    list-style-type: none;
    padding: 0;
  }

  .main-logo img {
    width: 3.5rem;
    margin-right: 1.5rem;
    vertical-align: top;
  } 

  .main-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: left;
    padding: 15rem 5rem;
    align-items: flex-start;
    background-color: #251C2D;
    font-family: 'SpoqaHanSansNeo', sans-serif;
  }

  header {
    position: fixed;
    top: 0rem;
    left: 0;
    width: 100%;
    height: 10rem;
    min-width: 70rem;
    justify-content: space-between;
    align-items: center;
    background-color: #251C2D;
    z-index: 5;
    transition: all 0.3s;
    font-family: 'SpoqaHanSansNeo', sans-serif;
  } /* 전체 영역       */
  header.change {
    height: 7rem;
  } /* 스크롤 시 높이 줄여줌  */
  header.container {
    height: 7rem;
    padding: 0 2rem;
    background-color: transparent;
    border-bottom: 0.1rem solid var(--clr-light-cyan);
  } /* 요소들만 있는 영역 */

  header .headline {
    position: absolute;
    color: var(--clr-primary);
    font-size: 0.7rem;
    top: 2.2rem;
    font-weight: 500;
    color: grey;
    width: 100rem;
  }
  
  .main-logo h1 {
    display: inline-block;
    vertical-align: text-top;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'SpoqaHanSansNeo', sans-serif;
    color: white;
  } 
  .main-logo h1.long {
    display: none;
  } 
  .page-title {
    font-size: 1.5rem;
  } /* 최상위 타이틀 */

  .subtitle {
    display: inline-block;
    font-size: 1.4rem;

  }

  .profileimg{
    border-radius: 50%;
    margin-top: 1rem;
  }

  .icon_menu{
    display: inline-block;
    position: relative;
    margin-right: 4rem;
    margin-top: 2rem;
    background-color: white;
    -webkit-mask: url('../asset/profile.svg') no-repeat center;
    mask: url('../asset/profile.svg') no-repeat center;
    width: 3rem;
    height: 3rem;
  }
  .icon_menu.active{
    background-color: greenyellow;
  }
  .icon_menu:hover
  {
    background-color: greenyellow;
  }

  .icon_language{
    display: inline-block;
    position: relative;
    margin-right: 4rem;
    background-color: white;
    -webkit-mask: url('../asset/language.svg') no-repeat center;
    mask: url('../asset/language.svg') no-repeat center;
    width: 2.5rem;
    height: 2.5rem;
  }
  
  .icon_language:hover
  {
    background-color: greenyellow;
  }

  header .util-menu ul {
    display: inline-block;
    justify-content: right;
    padding-right: 10rem;
  } /* 각각의 메뉴 */
  header .util-menu ul li {
    display: inline-block;
    position: absolute;

  } /* 각각의 메뉴 */

  header .util-menu a {
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    font-size: 1.4rem;
    transition: all 0.2s ease;
    
  } /* 영역설정 */
  header .util-menu a:hover {
    background-color: var(--clr-hover-light);
    color: var(--clr-point);
  } /* 링크에 마우스 오버 */
  header .util-menu ul li:hover > div {
    opacity: 1;
    visibility: visible;
    top: 5rem;
  } /* 메뉴에 마우스 올리면 -- 관련 팝업창 올라오면서 나타나게 함 */
  header .util-menu img {
    width: 3rem;
    height: 3rem;
  } /* 영역설정 */

  
  /* ======================================  메인 메뉴  ========================================= */

.main-menu {
  flex: 1;
  text-align: right;
  padding-right: 3rem;
} /* 메인 메뉴 위치 설정 */
.main-menu ul li {
  position: relative;
  display: inline-block;
  margin: 0;
  cursor: pointer; 
} /* 모두 한줄로 */
.main-menu ul > li > a {
  /* 1 Depth Text */
  display: inline-block;
  text-align: center;
  font-size: 1.4rem;
  height: auto;
  border-radius: 2rem; /* min-width: 7rem; */
  transition: all 0.2s ease;
  padding: 1rem 1rem 0.8rem 1rem;
  color: var(--clr-text);
}
.main-menu ul > li.active {
  position: relative;
  margin: 0;
} /* 활성화 메뉴의 우측 마진 제거 */
.main-menu ul > li.active::before {
  /* 1 Depth Active 시 상단 막대 바 */
  content: "";
  position: absolute;
  display: inline-block;
  width: 2rem;
  height: 0.4rem;
  top: -0.6rem;
  left: 1.2rem !important;
  background-color: var(--clr-point);
  opacity: 1; /* transform: translateX(-50%); */
}
.main-menu ul > li.active > a,
.main-menu ul > li.active > a:hover {
  color: var(--clr-point);
  pointer-events: none;
  font-weight: 500;
} /* 1 Depth Active */

.main-menu ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 4rem;
} /* 1 depth 메뉴에 마우스 올리면 하위 메뉴 영역 올라오면서 나타남 */

.main-menu ul ul {
  /* 2 Depth 영역 */
  position: absolute;
  display: inline-block;
  top: 4.5rem;
  left: 0;
  padding: 0;
  transition: all 0.2s ease;
  background-color: var(--clr-white);
  min-width: 15rem; /* 최소 너비 */
  border-top: 0.2rem solid var(--clr-point); /* 2 Depth 영역 상단 라인 */
  border-radius: 0 0 0 0; /* 하단 둥근 모서리  */
  opacity: 0;
  visibility: hidden; /* 처음에 투명하게 숨김 */
}
.main-menu > ul > li > ul::before {
  /* 삼각 돗  */
  content: "";
  position: absolute;
  left: 10%;
  top: -1rem;
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 0.4rem solid var(--clr-point);
  border-top: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-left: 0.4rem solid transparent;
}
.main-menu ul ul li {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
  border-bottom: 0.1rem solid var(--clr-shadow);
} /* 2, 3 Depth 메뉴 가로 너비 및 하단 구분 라인 */
.main-menu ul ul li:last-child {
  border-bottom: none;
} /* 마지막 하단 구분라인 제거 */
/* 2, 3 Depth 메뉴 텍스트  */
.main-menu ul ul li a {
  display: inline-block;
  line-height: 1.2;
  width: 100%;
  text-align: left;
  border-radius: 0;
  color: var(--clr-text);
  transition: all 0.2s ease;
  white-space: nowrap;
}
.main-menu ul ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 0;
} /* 2 depth 메뉴에 마우스 올리면 하위 메뉴 영역 올라오면서 나타남 */
.main-menu .icon-arrow-right {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
} /* > 화살표 아이콘 위치 설정 */
.main-menu ul ul li > a:hover {
  color: var(--clr-white);
  border-radius: 0;
  background-color: var(--clr-point);
} /* 2, 3 Depth 메뉴 마우스 오버 */
.main-menu ul ul li > a.active {
  color: var(--clr-white);
  border-radius: 0;
  background-color: var(--clr-point);
} /* 2, 3 Depth 메뉴 active */
.main-menu ul ul > li:last-child > a:hover {
  border-radius: 0 0 0rem 0;
  color: var(--clr-white);
  cursor: pointer; 
} /* 2, 3 depth 마지막 메뉴에 마우스 오버 시 하단 모서리 라운드  */
/* 3 Depth 영역 상단 라인 제거, 위치 설정 - transform: translateX(100%); */
.main-menu ul ul ul {
  position: absolute;
  min-width: 6rem;
  top: 2rem;
  left: 100%;
  border-top: none;
}
.main-menu ul ul ul li a {
  display: inline-block;
  width: 100%;
  white-space: normal;
} /* 3 Depth 텍스트 줄바꿈 가능 */

/* ------- 2 Depth 메뉴 너비 개별 설정 -------- */
.main-menu > ul > li:nth-child(2) > ul {
  width: 14rem !important;
}
.main-menu > ul > li:nth-child(3) > ul {
  width: 11.5rem !important;
}
.main-menu > ul > li:nth-child(4) > ul {
  width: 10rem !important;
}
/* ------- 3 Depth 메뉴 너비 개별 설정 -------- */
.main-menu > ul > li:nth-child(2) > ul > li > ul {
  width: 11rem;
}
.main-menu > ul > li:nth-child(4) > ul > li > ul {
  width: 9rem;
} 
.main-menu > ul > li:nth-child(6) > ul > li:nth-child(2) > ul {
  width: 9rem !important;
} 
.main-menu > ul > li:nth-child(6) > ul > li:nth-child(4) > ul {
  width: 11rem !important;
} 
.main-menu > ul > li:nth-child(6) > ul > li:nth-child(5) > ul {
  width: 13rem !important;
} 


  /*-------------------------- 화살표 ----------------------------*/
.icon-arrow-right, .icon-arrow-left, .icon-arrow-down, .icon-arrow-up  /* > 화살표 (기본) - &#xE001;  */ {
  display: inline-block;
  
  font-size: 0.5rem;
  font-weight: 500;
  padding: 0 0.5rem;
}
.icon-arrow-left {
  transform: rotateY(180deg);
} /*  < 화살표 - 좌측  */
.icon-arrow-down {
  transform: rotateZ(90deg);
  font-family: 'SpoqaHanSansNeo' sans-serif;
  color: white;
} /*  V 화살표 - 다운 */
.icon-arrow-up {
  transform: rotateZ(-90deg);
} /*  A 화살표 - 업  */

  /* ----------------------  1280px 이하 ( Desktop )  ------------------------- */
@media screen and (max-width: 1280px) {
    /* --- 타이틀 설정 --- */
    .main-logo h1.small {
      display: none;
    }
    .main-logo h1.long {
      display: inline-block;
    }
    .subtitle p.small {
      display: none;
    }
  }


/* header banner */
#typing {
  
    width: 0ch;
    color: black;
    float: left;
    font-weight:bold;
    font-size: 50px;
    margin-top: 20%;
    margin-left: 20%;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1s steps(5) 0.2s infinite alternate;
}
#typing span{
color:rgb(79, 255, 35);}

#crow {
    float: left;
    margin-top: 20%;
color: rgb(79, 255, 35);
    font-weight:bold;
    font-size: 50px;
    animation: crow 0.5s linear 0s infinite;
}
@keyframes typing {
    from {
        width: 0ch;
    }
    to {
        width: 15ch;
    }
}
@keyframes crow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}